@media (min-width: 834px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 786px / 2);
    padding-right: calc(50% - 786px / 2);
  }

  .section__topback {
    display: flex;
    position: absolute;
    top: 0px;
    right: -25px;
    max-width: 40%;
  }
  .section__starLeft {
    transition: transform 1s ease;
  }
  .section__starLeft:hover {
    transform: rotate(-360deg); /* Вращение на 360 градусов */
  }
  .section__starRight {
    position: absolute;
    right: 30px;
    bottom: 30px;
    transition: transform 1s ease;
  }
  .section__starRight:hover {
    transform: rotate(360deg); /* Вращение на 360 градусов */
  }

  .sections__starHeadingRight {
    position: absolute;
    top: 120px;
    padding-left: calc(1% + 650px);
  }
  .sections__starHeadingFooter {
    position: absolute;
    padding-left: calc(1% + 650px);
    bottom: -90px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 324px);
    padding-right: calc(50% - 324px);
  }
  .header {
    height: 70px;
  }
  .name {
    font-size: 23px;
  }

  .section {
    padding-top: 170px;
  }
  .section__topback {
    max-width: 30%;
  }
  .section__heading {
    font-size: 54px;
    line-height: 100%;
  }
  .sections__paragraph {
    font-size: 20px;
  }

  .section__starLeft {
    top: 40px;
    transition: transform 1s ease;
  }
  .section__starRight:hover {
    transform: rotate(360deg); /* Вращение на 360 градусов */
  }

  .section__starLeft:hover {
    transform: rotate(-360deg); /* Вращение на 360 градусов */
  }
  .section__link {
    font-size: 20px;
    width: 230px;
    height: 55px;
  }
  .section__starRight {
    position: absolute;
    right: 30px;
    bottom: 30px;
    transition: transform 1s ease;
  }
  .sections__games {
    padding-top: 70px;
  }
  .sections__heading {
    font-size: 52px;
  }
  .sections__starHeadingRight {
    padding-left: calc(1% + 560px);
  }
  .games {
    width: 308px;
  }

  .row {
    flex-direction: row;
  }
  .gamess__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
  }
  .gamess__paragraph {
    font-weight: 400;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 438px;
  }
  .gamess__position,
  .gamess__positions {
    padding: 30px;
  }

  .sections__starHeadingFooter {
    padding-left: calc(1% + 560px);
  }
}
