@media (min-width: 834px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 786px / 2);
    padding-right: calc(50% - 786px / 2);
  }

  .section__topback {
    display: flex;
    position: absolute;
    top: 0px;
    right: -25px;
    max-width: 40%;
  }
  .section__starLeft {
    transition: transform 1s ease;
  }
  .section__starLeft:hover {
    transform: rotate(-360deg); /* Вращение на 360 градусов */
  }
  .section__starRight {
    position: absolute;
    right: 30px;
    bottom: 30px;
    transition: transform 1s ease;
  }
  .section__starRight:hover {
    transform: rotate(360deg); /* Вращение на 360 градусов */
  }
  .sections__starHeadingRight {
    position: absolute;
    top: 120px;
    padding-left: calc(1% + 650px);
  }
  .sections__starHeadingFooter {
    position: absolute;
    padding-left: calc(1% + 650px);
    bottom: -90px;
  }
}

@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: calc(50% - 786px / 2);
    padding-right: calc(50% - 786px / 2);
  }

  .section__topback {
    display: flex;
    position: absolute;
    top: 0px;
    right: -25px;
    max-width: 40%;
  }
  .section__starLeft {
    transition: transform 1s ease;
  }
  .section__starLeft:hover {
    transform: rotate(-360deg); /* Вращение на 360 градусов */
  }
  .section__starRight {
    position: absolute;
    right: 30px;
    bottom: 30px;
    transition: transform 1s ease;
  }
  .section__starRight:hover {
    transform: rotate(360deg); /* Вращение на 360 градусов */
  }
  .sections__starHeadingRight {
    position: absolute;
    top: 100px;
    padding-left: calc(1% + 630px);
  }
  .sections__starHeadingFooter {
    position: absolute;
    padding-left: calc(1% + 630px);
    bottom: -80px;
  }
}
