@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #202027;
}
.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.section {
  padding-top: 196px;
  background: url(img/topback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

  &__modifier {
    display: flex;
    flex-direction: column;
  }
  &__heading {
    padding-bottom: 24px;
    font-weight: 700;
    font-size: 64px;
    line-height: 122%;
    max-width: 769px;
  }

  &__paragraph {
    padding-bottom: 48px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    max-width: 720px;
  }
  &__link {
    color: white;
    font-weight: 600;
    font-size: 24px;
    line-height: 142%;
    width: 247px;
    height: 66px;
    border-radius: 60px;
    background-color: black;
    border: none;
    margin-bottom: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition-duration: 0.9s;
  }
}

span {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.header {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  height: 90px;

  &__list {
    background-color: #bcec30;
    text-transform: uppercase;
  }

  &__list_animation {
    display: flex;
    animation: scroll 10s linear infinite;
    align-items: center;
    gap: 51px;
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.section__topback {
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
}
.section__starLeft {
  position: absolute;
  left: 60px;
  top: 69px;
}
.section__starRight {
  position: absolute;
  right: 344px;
  bottom: 59px;
}
.games__img img,
.gamess__img img {
  max-width: 100%;
}
.name {
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
  line-height: 110.00000000000001%;
  color: black;
}
.sections {
  //   background-color: #202027;

  &__games {
    padding-top: 98px;
    position: relative;
  }
  &__heading {
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #ffffff;
    height: 78px;
    display: flex;
    align-items: center;
  }
  &__heading_position {
    padding-bottom: 70px;
  }
  &__starHeading {
    position: absolute;
    right: -120px;
    top: 109px;
    z-index: -1;
  }
  &__starHeadingLeft {
    position: absolute;
    left: -80px;
    top: 750px;
  }
  &__starHeadingRight {
    position: absolute;
    top: 110px;
    padding-left: calc(1% - -1156px);
  }
  &__starHeadingFooter {
    position: absolute;
    padding-left: calc(1% + 1156px);
    bottom: -50px;
  }

  &__paragraph {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    padding-top: 24px;
    padding-bottom: 72px;
    max-width: 788px;
  }
}

.cart {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  color: black;
}
.game {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__one {
    transition: transform 0.3s;
    overflow: hidden;
  }

  &__one:hover {
    transform: scale(1.1);
  }

  &__two {
    transition: transform 0.3s;
    overflow: hidden;
  }
  &__two:hover {
    transform: scale(1.1);
  }
  &__three {
    transition: transform 0.3s;
    overflow: hidden;
  }
  &__three:hover {
    transform: scale(1.1);
  }
}
.games {
  width: 378px;
  background-color: #ffffff;
  border-radius: 30px;

  &__position {
    padding: 32px 36px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border: none;
    border-radius: 52px;
    width: 111px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 110.00000000000001%;
  }
  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 117%;
  }
}

// .carts {
//   flex-wrap: wrap;
//   padding-top: 72px;
// }
.gamess {
  &__color {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 30px;
    background-color: #ffffff;
  }
  &__colors {
    display: flex;
    border-radius: 30px;
    background-color: #ffffff;
  }
  &__img {
    display: flex;
    grid-column: span 6;
    background-color: white;
    border-radius: 30px 0 0 30px;
    border-radius: 30px;
    overflow: hidden;
  }
  &__position {
    padding-left: 48px;
    padding-top: 52px;
  }
  &__positions {
    padding-left: 48px;
    padding-top: 55px;
  }
  &__block {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 116%;
  }
  &__paragraph {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    padding-top: 28px;
    padding-bottom: 32px;
    max-width: 438px;
  }
  &__paragraph_br {
    max-width: 490px;
  }
  &__btn {
    font-weight: 600;
    font-size: 24px;
    line-height: 142%;
    width: 247px;
    height: 66px;
    background-color: black;
    border-radius: 60px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-sizing: border-box;
  }
  &__btn:hover {
    border: solid 0.5mm #000000;
    background-color: rgb(255, 255, 255);
    color: #000000;
    transition-duration: 0.5s;
    cursor: pointer;
  }

  &__row {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.footer {
  margin-top: 112px;

  &__block {
    display: flex;
    justify-content: center;
    padding-top: 61px;
    padding-bottom: 60px;
    background-color: #bded35;
  }
}
@media (min-width: 768px) {
  .section__link_mobile {
    display: none;
  }
}

@import "mobile_index";
