* {
  margin: 0;
  padding: 0;
}

.openClosed,
.color {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 20px;
  align-items: center; /* Центрирование содержимого по горизонтали */
}

.openClosed__btn,
.color__btn {
  width: fit-content; /* Кнопка будет иметь ширину по содержимому */
}

.openClosed__btn,
.color__p,
.color__btn {
  font-size: 25px;
}
